<a name="workshop"></a>
<section class="alpha_24">
  <div class="container group">
      <div class="column_8 centered">
      <h3 class="center">Workshop</h3>
      <p>
      Il 9 Ottobre si terranno due workshop, ognuno di un'intera giornata, rispettivamente su <a href="https://www.eventbrite.it/e/registrazione-symfony2-avanzato-12877447793"><i>"Symfony 2 avanzato"</i></a> e <a href="http://www.eventbrite.it/e/registrazione-symfony2-cmf-12877826927"><i>"Symfony 2 CMF"</i></a>. 
     </p>
     <p>
      <strong>Acquistando un biglietto per il Symfony Day riceverai una email con uno sconto esclusivo per partecipare ai workshop!</strong>
     </p>
     <p>
     Se stai usando Symfony 2 e vuoi approfondire le tue conoscenze sulle best practice di sviluppo o vuoi conoscere tutte le potenzialità offerte dal CMF, i workshop organizzati da <a href="http://www.ideato.it/">Ideato</a> sono ciò che fa per te! Avrai la possibilità di imparare l’utilizzo dello strumento in modo pratico, e al termine della giornata sarai in grado di avviare un progetto basato sul Symfony CMF in autonomia.
      </p>
      <p>
      I workshop avranno un taglio pratico e la trasmissione dei contenuti avverrà attraverso la progettazione e la stesura di codice. Ciascun contenuto sarà presentato attraverso una serie di esempi, casi d’uso ed esercizi. Svilupperemo un piccolo progetto assieme, così da permetterti di comprendere meglio i concetti appena acquisiti e appronfondire la conoscenza delle best practice nell'uso dello strumento.
      </p>
      <p>
      Il workshop sono tenuti da <a href="https://twitter.com/ftassi">Francesco Tassi</a> e <a href="https://twitter.com/k3a">Manuel Baldassarri</a> di Ideato. 
      </p>
      <!--p style="font-size:12px">
      <i>Informazioni aggiuntive</i>:<br />
      - I workshop inizieranno alle 9:30 e terminerà alle 18:00, con una pausa pranzo dalle 13:00 alle 14:00. La sala del workshop sarà aperta dalle 9:00 di mattina.<br />
      - Il workshop è rivolto agli sviluppatori PHP che già conoscono i fondamenti alla base dello sviluppo orientato agli oggetti. La conoscenza pregressa del pattern MVC e delle funzionalità specifiche di PHP 5.3 come namespace e funzioni anonime è utile ma non necessaria.<br />
      - Per massimizzare l’apprendimento, ti consigliamo di portare il tuo portatile. Prima dell'inizio del corso renderemo disponibili le istruzioni per il setup di una macchina virtuale che utilizzeremo come sandbox per lo sviluppo degli esercizi pratici previsti per la giornata.
      </p-->
      <p>Per maggiori informazioni o per iscriverti ai workshop segui i seguenti link:
      <ul>
        <li><a href="http://www.eventbrite.it/e/registrazione-symfony2-cmf-12877826927">Symfony 2 CMF</a></li>
        <li><a href="https://www.eventbrite.it/e/registrazione-symfony2-avanzato-12877447793">Symfony 2 Avanzato</a></li>
      </ul>


      </p>
  </div>
  </div>

  <div class="separator"></div>
</section>
