<section class="supporter">
    <a name="sponsor"></a>
    <div class="container group">

        <div class="container group">

            {% if page.cfs %}

            <div class="column_6 centered">
                <h3 class="center">Sponsorizza</h3>
                <p>Un grande evento è fatto anche di grandi sponsor, perché quindi non sfruttare l'occasione e
                    contribuire alla conferenza?<br>
                    <a href="mailto:info@grusp.org">Contattaci</a> per sapere come sponsorizzarci!</p>
            </div>
            <div class="clear"></div>

            <div class="column_6 centered">
                <h4 class="line center"><span>Main sponsor</span></h4>
                <p>Il main sponsor sarà uno solo per conferenza ed avrà la possibilità di avere un banchetto
                    indipendente per pubblicizzarsi</p>
                <span class="euro btn">€ 3.000</span>
                <ul class="benefit">
                    <li>Banner sul sito</li>
                    <li>Pubblicità nelle comunicazioni pre-evento</li>
                    <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
                    <li>Posizionamento del vostro roll-up nella sala</li>
                    <li>5 biglietti gratuiti</li>
                    <li><strong>Banchetto in sala</strong></li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="column_4">
                <h4 class="line gold"><span>Gold</span></h4>
                <span class="euro btn">€ 1.000</span>
                <ul class="benefit">
                    <li>Banner sul sito</li>
                    <li>Pubblicità nelle comunicazioni pre-evento</li>
                    <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
                    <li>Posizionamento del vostro roll-up nella sala</li>
                    <li>3 biglietti gratuiti</li>
                </ul>
            </div>

            <div class="column_4">
                <h4 class="line silver"><span>Silver</span></h4>
                <span class="euro btn">€ 500</span>
                <ul class="benefit">
                    <li>Banner sul sito</li>
                    <li>Pubblicità nelle comunicazioni pre-evento</li>
                    <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
                    <li>2 biglietti gratuiti</li>
                </ul>
            </div>

            <div class="column_4">
                <h4 class="line bronze"><span>Bronze</span></h4>
                <span class="euro btn">€ 300</span>
                <ul class="benefit">
                    <li>Banner sul sito</li>
                    <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
                    <li>1 biglietto gratuito</li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>

        {% endif %}

        <div class="sponsors">
            <h3>Gli Sponsor</h3>

            <div class="platinum_supporter centered">
                <h4 class="line platinum"><span>Main sponsor</span></h4>

                <a class="banner" href="https://labs.madisoft.it/" title="Madisoft">
                    <img src="/img/s/s_madisoft.png" alt="sponsor Madisoft" height="260">
                </a>

                <div class="clear"></div>
            </div>


            <div class="gold_supporter centered">
                <h4 class="line gold"><span>Gold</span></h4>

                <a class="banner" href="#" title="">
                    <img src="/img/s/sponsor_placeholder.jpg" height="230"/>
                </a>

                <div class="clear"></div>
            </div>

            <div class="silver_supporter">
                <h4 class="line silver"><span>Silver</span></h4>

                <a class="banner" href="https://www.neen.it?utm_source=sfday" title="Neen">
                    <img src="/img/s/s_neen.png" alt="Neen" height="175"/>
                </a>

                <div class="clear"></div>
            </div>

            <div class="bronze_supporter">
                <h4 class="line bronze"><span>Bronze</span></h4>
                <a class="banner" href="http://www.phpbestpractices.it" title="PHP best practices">
                    <img src="/img/s/s_phpbestpractices.png" alt="PHP best practices" height="120"/>
                </a>

                <a class="banner" href="http://www.jsbestpractices.it" title="PHP best practices">
                    <img src="/img/s/s_jsbestpractices.png" alt="Js best practices" height="120"/>
                </a>

                <a class="banner" href="http://www.phpday.it" title="phpday">
                    <img src="/img/s/s_phpday.png" alt="phpday"/>
                </a>

                <a class="banner" href="http://www.jsday.it" title="jsday">
                    <img src="/img/s/s_jsday.png" alt="jsday"/>
                </a>

                <a class="banner" href="http://www.ideato.it" title="Ideato">
                    <img src="/img/s/s_ideato.png" alt="ideato" class="img-responsive"/>
                </a>

                <div class="clear"></div>
            </div>
        </div>

        <h3>Media Partner</h3>
        <div class="bronze_supporter" id="media-partners" data-tags="{{ site.media_tags }}"></div>

    </div>
    <div class="separator"></div>
</section>
