<a name="info"></a>
<section class="alpha_24">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>
	
	<p><strong>Symfony 2 &egrave; uno dei framework PHP pi&ugrave; apprezzati sul mercato.</strong></p>

							<p>Symfony 2 &egrave; diventato il riferimento per quanto riguarda lo sviluppo ad alto livello con PHP e molti software open source, come Drupal, eZ Publish e phpBB hanno gi&agrave; iniziato ad includerlo al loro interno. Il SymfonyDay &egrave; l'evento di riferimento su Symfony che introduce le best practice e ne mostra case study ad alto livello.
							</p>
	</div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>