<a name="programma"></a>
<section class="alpha_24">
    <div class="container group">
        <h3 class="center">Il programma</h3>
        <table id="schedule" border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Track 1
                </th>

            </tr>
            </thead>
            <tr class="common_event">
                <td class="time">09:00 &ndash; 09:30</td>
                <td><h4><a href="#" onclick="javascript:return(false);">Check-in</a></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">09:30 &ndash; 09:45</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);">Presentazione GrUSP</a></h4>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">09:45 &ndash; 10:00</td>
                <td>
                    <h4><a href="#" onclick="javascript:return(false);">Presentazione PugRoma</a></h4>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">10:05 &ndash; 10:35</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Caso study di una applicazione che da monolitica è stata suddivisa in un insieme di microservizi... non così tanto micro! Nella presentazione verranno discussi tra l'altro: organizzazione del codice, test, gestione degli aggiornamenti, problematiche incontrate e possibili sviluppi futuri.">
                            Symfony e micro (non così tanto) servizi
                        </a>
                    </h4>
                    <a href="http://twitter.com/_orso_" title="Michele Orselli">Michele Orselli - @_orso_</a>
                    <br />
                    <a href="http://www.slideshare.net/MicheleOrselli/symfony-e-micro-non-cosi-tanto-services" title="" class="slides">Slide</a>
                </td>
            </tr>

            <tr class="break">
                <td class="time">10:35 &ndash; 11:00</td>
                <td>
                    <h4><strong>Pausa</strong></h4>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">11:00 &ndash; 11:45</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="L'evoluzione di un'applicazione web è spesso sorprendente: utenti e funzionalità crescono (per fortuna!) in modo imprevisto e ti ritrovi problemi inaspettati. La tua app richiede uno o due server per funzionare e poi... picchi di accessi, milioni di richieste web al giorno, database che sembra esplodere, file che non sai più dove mettere. L'applicazione rallenta, inizi a diventare il miglior amico del comando `top` e ti affidi alla speranza che i core bastino ed il db non si blocchi. No, la soluzione non è aumentare core e ram. E neanche passare a Node.js. Vedremo insieme come è possibile far scalare senza limiti un'applicazione Symfony: dalle richieste web al database, dalle sessioni al filesystem.">
                            Scaling symfony apps
                        </a>
                    </h4>
                    <a href="http://twitter.com/mat_teo8" title="Matteo Moretti">Matteo Moretti - @mat_teo8</a>
                    <br />
                    <a href="http://www.slideshare.net/matteomoro8/scaling-symfony-apps" title="" class="slides">Slide</a>
                </td>
            </tr>


            <tr class="common_event">
                <td class="time">11:50 &ndash; 12:20</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Posso sviluppare un e-commerce con Symfony? Esistono bundle disponibili oppure bisogna implementare tutto custom? In questo talk scopriremo insieme cosa offre il mondo delle librerie open source e quali sono state le scelte tecniche con cui abbiamo trasformato l’idea di un e-commerce in realtà.">
                            E-commerce con SF: dal case study alla realtà
                        </a>
                    </h4>
                    <a href="http://twitter.com/dymissy" title="Simone D'Amico">Simone D'Amico - @dymissy</a>
                    <br />
                    <a href="http://www.slideshare.net/dymissy/ecommerce-con-sf-dal-case-study-alla-realt" title="" class="slides">Slide</a>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">12:25 &ndash; 13:10</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Il talk si occuperà del componente form che rappresenta molto spesso uno scoglio per neofiti e non del mondo symfony. L’obiettivo è quello di fornire una panoramica generica sul componente andando a toccare, attraverso esempi reali, gli aspetti più spigolosi che ho affrontato nel corso della mia esperienza pluriennale sul framework. Si parlerà di: dto per validazione proprietà nulle, errori da evitare sulle collections: orphan removal ed error path, utilizzare immutable object o value object nei form, no business logic nei form —> utilizzo di handler, empty_data —> cambiamento del comportamento tra symfony2.* e symfony3.*, validation groups e group sequence, data transformer e form hooks.">
                            A journey into Symfony form component
                        </a>
                    </h4>
                    <a href="http://twitter.com/@SamueleLilli" title="Samuele Lilli">Samuele Lilli - @SamueleLilli</a>
                    <br />
                    <a href="http://www.slideshare.net/SamueleLilli/symfony-day-2016" title="" class="slides">Slide</a>
                </td>
            </tr>

            <tr class="break lunch">
                <td class="time">13:10 &ndash; 14:30</td>

                <td><h4><strong>Pranzo</strong></h4></td>
            </tr>

            <tr class="common_event">
                <td class="time">14:30 &ndash; 15:00</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip" title="Appena migrato un progetto Symfony a PHP7, la prima tentazione è quella di sfruttare le nuove funzionalità del linguaggio, aggiungendo type hinting e return types. Purtroppo il modello `anemico` suggerito dalla documentazione ufficiale ci fa scontrare subito con i problemi tipici di questo approccio. In questo talk vedremo come possiamo beneficiare di un modello `ricco` e sfruttare tutte le potenzialità di PHP7, avendo come effetto collaterale positivo una migliore gestione delle Entity e in generale di tutto il progetto.">
                            PHP7 e Rich Domain Model
                        </a>
                    </h4>
                    <a href="http://twitter.com/garakkio" title="Massimiliano Arione">Massimiliano Arione - @garakkio</a>
                    <br />
                    <a href="https://www.slideshare.net/garak/php7-e-rich-domain-model" title="" class="slides">Slide</a>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">15:05 &ndash; 15:50</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip" title="Elasticsearch is a powerful tool with a great Symfony integration. This talk will explain how to deal with Elasticsearch and FOSElasticaBundle when the sorting becomes hard. A bit of maths and some statistics tricks will help you to sort things out, with some examples about geolocation and users’ reviews—and you’ll understand why sorting things by average rating is not always a good idea.">
                            Relevance sorting with Elasticsearch & a bit of maths
                        </a>
                    </h4>
                    <a href="http://twitter.com/mattbit_" title="Matteo Dora">Matteo Dora - @mattbit_</a>
                    <br />
                    <a href="https://speakerdeck.com/mattbit/elasticsearch-and-a-bit-of-maths" title="" class="slides">Slide</a>
                </td>
            </tr>

            <tr class="break">
                <td class="time">15:50 &ndash; 16:05</td>
                <td>
                    <h4><strong>Pausa</strong></h4>
                </td>
            </tr>


            <tr class="common_event">
                <td class="time">16:05 &ndash; 16:35</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip"
                           title="Partendo da un caso reale, si illustrerà come la creazione di un Console Command possa semplificare ed automatizzare molte funzioni di routine.I Commands permettono di risparmiare tempo e spostano la gestione di alcune azioni in un unico punto, semplificandone così il debugging e la manteinance.">
                            Command: the easy way
                    </a>
                    </h4>
                    <a href="http://twitter.com/aczepod" title="Antonino Carella">Antonino Carella - @aczepod</a>
                    <br />
                    <a href="http://www.slideshare.net/antoninocarella1/command-the-easy-way" title="" class="slides">Slide</a>
                </td>
            </tr>


            <tr class="common_event">
                <td class="time">16:40 &ndash; 17:25</td>
                <td>
                    <h4>
                        <a href="#" onclick="javascript:return(false);" rel="tooltip" title="Doctrine ci ha abituato ad una vita facile. Crei degli oggetti, li persisti ed immediatamente vengono salvati nel database; pensa a tutto l'ORM: INSERT nel giusto ordine, transazioni, query auto-generate. Ma cosa c'è dietro a tanta magia?
                        Conoscere nel dettaglio i meccanismi e le complessità di un ORM ci permette di farne un uso più consapevole e talvolta ci fa risparmiare non pochi grattacapi.
                        In questo talk andremo ad esaminare in profondità il design, la struttura e i patterns che ci sono dietro un ORM. Inoltre affronteremo insieme degli scenari reali per capire come dominare tanta complessità.">
                            ORM hero
                        </a>
                    </h4>
                    <a href="http://twitter.com/toretto460" title="Simone Di Maulo">Simone Di Maulo - @toretto460</a>
                    <br />
                    <a href="http://www.slideshare.net/SimoneDiMaulo/orm-hero" title="" class="slides">Slide</a>
                </td>
            </tr>

            <tr class="common_event">
                <td class="time">17:25</td>
                <td><h4><a href="#" title="">Chiusura</a></h4></td>
            </tr>
        </table>

    </div>

    <div class="separator"></div>
</section>
